.form {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.formLabel {
    font-size: 16px;
    margin-bottom: 5px;
}

.formBtn {
    margin-top: 10px;
    width: 150px;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #007bff;
    color: floralwhite;
    cursor: pointer;
}

.formBtn:hover {
    background-color: #054992;
}
    
.formInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.formInput:focus {
    background-color: #f0f0f0;
    outline: none;
  }