.filter {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    gap: 20px;

}

.filterLabel {
    font-size: 16px;
    margin-bottom: 5px;
}

.filterInput {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.filterInput:focus {
    background-color: #f0f0f0;
    outline: none;
  }